body {
    font-family: Arial, Helvetica, sans-serif;
}
main {
    max-width: 800px;
    margin: auto;
    background-image: url(images/background.png);
}

header {
    border-bottom-style: solid;
    border-bottom-color: darkslateblue;
    padding: 30px 15px 15px;
    top: 0;
    font-size: 20px;
    top: 0;
}

header > nav {
    float: right;
}

header > nav > a {
    color: darkslateblue;
    font-size: 18pt;
    text-decoration: none;
}

header > a {
    color: lightsteelblue;
    text-decoration: none;
    font-size: 20pt;
    background-color: darkslateblue;
    padding: 15px 10px 18px;
}

article {
    float: left;
    max-width: 400px;
    margin: 15px;
    padding: 10pt;
    background-color: whitesmoke;
    box-sizing: content-box;
}

h1, h2 {
    font-size: 20pt;
    color: darkblue;
    border-bottom-style: solid;
    border-bottom-color: darkslateblue;
}

h2 {
    font-size: 14pt;
    text-align: center;
}

article > img {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    box-shadow: darkslategray 3px 3px 6px;
}

aside {
    float: right;
    margin: 15px 30px;
    padding: 15pt;
    background-color: whitesmoke;
    box-sizing: content-box;
}

aside a {
    text-decoration: none;
}

aside a > img {
    display: inline-block;
    margin: 5px;
    box-shadow: darkslategrey 3px 3px 6px;
}

/* clearfix */
main::after {
    content: "";
    clear: both;
    display: block;
}

footer {
    background-color: darkslateblue;
    color: lightsteelblue;
    text-align: center;
    padding: 20px 0;
}